@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap);

html,
body {
    height: 100%;
}

body {
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.page-background {
    background-color: #003246;
}

/* background color gradient - follows scale of each container in the materialize row */

.main-background-gradient {
    background: linear-gradient(to right, #0387B1 16.599999%, #fff 0)
}

/* main and section */

main {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

section {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

/* link mods */

a {
    color: #0387B1;
}

a:hover {
    text-decoration: underline;
}

/* Colours */

.blue {
    background-color: #0387B1 !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.blue-grey.to-blue {
    background-color: #0387B1 !important;
}

.orange {
    background-color: #E4491C !important;
}

/* main and section visibility */

#home {
    display: block
}

#resume {
    display: none
}

#interests {
    display: none
}

#code {
    display: none
}

#contact-form {
    display: none
}

#thank-you {
    display: none
}

#error {
    display: none
}

/* tool and menu tips */

.menutip {
    cursor: pointer;
    display: table;
    margin: 0
}

.menutip .menutiptext {
    top: 0;
    left: 10px;
    color: #fff;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: top .2s ease-in-out, opacity .2s ease-in
}

.menutip .menutiptext-right {
    top: -3px;
    left: 120px;
    color: #fff;
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 3px 0;
    transition: left .2s ease-in-out, opacity .2s ease-in
}

.menutip:hover .menutiptext {
    width: 100%;
    opacity: 1;
    top: 30px;
    margin: 3px 0
}

.menutip:hover .menutiptext-right {
    opacity: 1;
    left: 130px
}

.tooltip {
    cursor: default;
    display: table;
    margin: 0 auto
}

.tooltip .tooltiptext {
    color: #fff;
    margin-left: 0;
    position: absolute;
    text-align: right;
    opacity: 0;
    transition: margin-left .2s ease-in-out, opacity .2s ease-in
}

.tooltip:hover .tooltiptext {
    margin-left: 10px;
    opacity: 1
}

/* header, icon and font mods */

h6 {
    font-size: 1.4rem
}

.icon-position {
    font-size: 1.4rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0
}

.larger-icon-position {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0
}

.largest-icon-position {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0
}

.text-center {
    text-align: center
}

.image-logo {
    background: url(../../assets/images/head_shot.png);
    background-position: center;
    background-size: cover;
    min-height: 435px;
    background-repeat: no-repeat
}

.uppercase-menu {
    text-transform: uppercase;
    font-size: 14px
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1
}

/* materlialize mods */

.row {
    margin-bottom: 0
}

.btn i {
    font-size: 25px;
    vertical-align: text-top
}

#middle {
    display: flex;
    height: 100vh;
    align-items: center
}

#center-con {
    margin: 0 auto
}

/* materialize form mods */

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #757575;
    box-shadow: 0 1px 0 0 #757575
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #d7d6d6
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #757575;
    box-shadow: 0 1px 0 0 #757575
}

input[type=email]:not(.browser-default):focus:not([readonly])+label {
    color: #d7d6d6
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #757575;
    box-shadow: 0 1px 0 0 #757575
}

textarea.materialize-textarea:focus:not([readonly])+label {
    color: #d7d6d6
}

.submit-button {
    background-color: #e68900;
    margin-bottom: 30px
}

.submit-button:hover {
    background-color: #e68900;
    filter: brightness(90%)
}

.submit-button:focus {
    background-color: #e68900
}

#thanks-modal {
    display: none;
    z-index: 1003;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
}

#error-modal {
    display: none;
    z-index: 1003;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
}

.modal-overlay {
    z-index: 1002;
    display: none;
    opacity: 0.5;
}

/* timeline Design */

.timeline-background {
    background: linear-gradient(#fff, #fff) no-repeat 7px/2px 100%;
    height: 100%
}

.timeline-dot {
    font-size: 14px;
    line-height: 29px
}

.icon-transparent {
    color: transparent
}

.row .col.no-left-padding p {
    margin: 0
}

.work-title {
    margin: 0;
    padding-bottom: 7px
}

.work-history {
    margin: 0;
    padding-bottom: 9px
}

.work-date {
    margin: 0;
    padding-bottom: 9px;
    line-height: 0
}

/* header adjustments */

.row .col.white {
    padding-bottom: 20px
}

.row .col.last-line {
    padding-bottom: 20px
}

.row .image-logo {
    min-height: 360px
}

/* navbar adjustments */

.nav-bar {
    box-shadow: 0 -1px 0 1px rgba(0, 0, 0, 0.14);
}

.row .nav-section {
    min-height: 284px;
}

.menu-item {
    display: inherit;
    text-align: center;
    max-height: 40px
}

.nav-bar {
    display: block;
    height: auto;
    border-radius: 0;
    filter: brightness(100%);
    transition: filter .2s
}

.nav-bar:hover {
    filter: brightness(90%);
}

@media (hover: none) and (pointer: coarse) {
    .nav-bar:hover {
        filter: brightness(100%);
        box-shadow: none;
    }
}


/* fontawesome icons mods */

.menu-item-fontawesome {
    padding-bottom: 3px
}

.row .col .social-button-effect {
    color: #fff
}

.fa-2x {
    letter-spacing: 3px
}

.fas.fa-external-link-alt.right {
    font-size: 20px
}

#menu-link {
    font-size: 20px
}

.fas {
    -webkit-font-smoothing: antialiased
}

/* main and section component tweaks */

.row .col .icon-color {
    color: #ff5722;
}

.row .col.no-left-padding {
    padding-left: .05rem
}

.row .col .padding-bottom {
    padding-bottom: 15px
}

.section-header {
    text-transform: uppercase
}

/* skills table design */

.html {
    background: linear-gradient(to right, #bf360c 95%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.css {
    background: linear-gradient(to right, #d84315 90%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.js {
    background: linear-gradient(to right, #e64a19 85%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.python {
    background: linear-gradient(to right, #ff8a65 70%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.mat {
    background: linear-gradient(to right, #bf360c 95%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.django {
    background: linear-gradient(to right, #ff5722 80%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.heroku {
    background: linear-gradient(to right, #ff5722 80%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

.sql {
    background: linear-gradient(to right, #ff8a65 70%, #bdbdbd 0);
    margin: 3px 0;
    padding: 4px 0;
}

/* social links design */

.social-button-effect {
    transition: transform .2s;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto
}

.social-button-effect:hover {
    transform: scale(1.2)
}

.row .container .center {
    margin-left: 25%
}

/* sidenav design */

.sidenav-button-effect {
    filter: brightness(100%);
    transition: filter .2s
}

.sidenav-button-effect:hover {
    filter: brightness(90%)
}

.row .col .sidenav-button-effect.btn {
    box-shadow: none;
    text-align: left
}

/* interests menu display settings */

#interest-one-show {
    display: block
}

#interest-two-show {
    display: none
}

#interest-three-show {
    display: none
}

/* git repo display settings */

#git-one-show {
    display: block
}

#git-two-show {
    display: none
}

#git-three-show {
    display: none
}

#git-four-show {
    display: none
}

/* media queries */

@media only screen and (min-width:20px) {
    .main-background-gradient {
        background: linear-gradient(to bottom, #0387B1 55%, #fff 0)
    }

    .menu-item {
        font-size: 12px
    }
}

@media only screen and (min-width:601px) {
    .main-background-gradient {
        background: linear-gradient(to bottom, #0387B1 40%, #fff 0)
    }

    .row .col.m2 {
        width: 14.9999%
    }
    .menu-item {
        font-size: 14px
    }
}

@media only screen and (max-width:601px) {
    .row .nav-section {
        min-height: 224px
    }
    .row .image-logo {
        min-height: 300px
    }
    .row .col .white-text.mobile-title {
        font-size: 2.56rem;
        line-height: 110%
    }
    .row .col .white-text.mobile-subtitle {
        font-size: 1.56rem;
        line-height: 110%
    }
    .fa-2x {
        font-size: 3em;
        letter-spacing: 5px
    }

    .home-border {
        border-right: none;
    }

    .border-dark {
        border-bottom: 1px solid #0387B1;
    }

    .border-dark-right {
        border-right: 1px solid #0387B1;
    }

    .bottom-border {
        border-bottom: 1px solid #4b5d6b;
    }
}

@media only screen and (min-width:768px) {
    .main-background-gradient {
        background: linear-gradient(to bottom, #0387B1 40%, #fff 0)
    }

}

@media only screen and (max-width:993px) {
    main {
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    section {
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .row .container .center {
        margin-left: 0
    }
    #contact {
        max-width: 180px
    }
}

@media only screen and (min-width:993px) {
    .row .col.l3 {
        width: 25%
    }
    .row .col.l3.nav-bar {
        width: 14.9999%
    }
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 25%, #fff 0)
    }

}

@media only screen and (min-width:1201px) {
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 25%, #fff 0)
    }

    .row .col.xl2 {
        width: 25%
    }
    .row .col.xl10 {
        width: 75%
    }
    .row .col.xl2.nav-bar {
        width: 14.99%
    }
}

@media only screen and (min-width:1336px) {
    .row .col.xl2 {
        width: 20%
    }
    .row .col.xl10 {
        width: 80%
    }
    .row .col.xl2.nav-bar {
        width: 15.99%
    }
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 20%, #fff 0)
    }

}

@media only screen and (min-width:1500px) {
    .row .col.xl2 {
        width: 17%
    }
    .row .col.xl10 {
        width: 83%
    }
    .row .col.xl2.nav-bar {
        width: 16.599%
    }
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 17%, #fff 0)
    }

}

@media only screen and (min-width:2000px) {
    .row .col.xl2 {
        width: 15%
    }
    .row .col.xl10 {
        width: 85%
    }
    .row .col.xl2.nav-bar {
        width: 17%
    }
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 15%, #fff 0)
    }
}

@media only screen and (min-width:2500px) {
    .row .col.xl2 {
        width: 11%
    }
    .row .col.xl10 {
        width: 89%
    }
    .row .col.xl2.nav-bar {
        width: 17.799%
    }
    .main-background-gradient {
        background: linear-gradient(to right, #0387B1 11%, #fff 0)
    }

}