@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap);

html,
body {
    height: 100%;
    font-family: Ubuntu, sans-serif;
}

body {
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

main {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1 0 auto;
}

h1 {
    font-size: 3.56rem;
    line-height: 110%;
    font-weight: 400;
    margin: 2.3733333333rem 0 1.424rem 0;
}

h2 {
    font-size: 2.28rem;
    line-height: 110%;
    font-weight: 400;
    margin: 1.52rem 0 .912rem 0;
}

h4 {
    font-size: 1.64rem;
    line-height: 110%;
    font-weight: 400;
    margin: 1rem 0 .5rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    font-weight: 400;
    margin: 1.0933333333rem 0 .656rem 0;
}

h6 {
    font-size: 1.4rem;
    line-height: 110%;
    font-weight: 400;
    margin: .7666666667rem 0 .46rem 0;
}

p {
    margin: 1rem 0 .5rem 0;
}

.image-logo {
    background: url(../../assets/images/head_shot.png);
    background-position: center;
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat
}

.header-title {
    min-height: 350px;
}

.social-button-effect {
    transition: transform .2s;
    margin-right: 1px;
    margin-bottom: 5%;
    margin-left: 1px;
}

.social-button-effect:hover {
    transform: scale(1.2)
}

.icon-color {
    color: #ff5722;
}

.icon-position {
    font-size: 1.4rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
}

.no-left-padding {
    padding-left: .05rem;
}

.last-line {
    padding-bottom: 20px
}

.container-fluid {
    height: 100%;
}

.full-height-row {
    height: auto;
}

.full-height-col {
    height: 100%;
}

.desktop-menu {
    display: flex;
    margin-top: 6.6rem;
}

.desktop-menu .item {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
    border-radius: 0;
    padding-top: 10px;
}

.mobile-menu {
    display: none;
}

.mobile-menu .item {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
    border-radius: 0;
}

.icon-block {
    display: block;
    font-size: 1.3rem;
}

.no-left-padding {
    padding-left: .05rem
}

.uppercase-text {
    text-transform: uppercase;
}

.btn-secondary {
    color: #fff;
    background-color: #607D8B;
    border: none;
    box-shadow: none;
    filter: brightness(100%);
    transition: filter, 0.2s;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #607D8B;
    filter: brightness(90%);
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: #fff;
    background-color: #607D8B;
}

.page-background {
    background-color: #003246;
}

.blue {
    background-color: #0387B1 !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.blue-grey.to-blue {
    background-color: #0387B1 !important;
}

.orange {
    background-color: #E4491C !important;
}


/* sticky footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width:0px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

}

@media only screen and (min-width:601px) {
    .desktop-menu {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

}

@media only screen and (min-width:993px) {
    .full-height-row {
        height: 100%;
    }
}